<div class="col-lg-6 mx-auto">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="text-center">
                <span style="font-size: 3em; color: rgb(96, 221, 243)">
                    <i class="fas fa-user-circle"></i>
                </span>
            </div>
            <h5 class="card-title text-center activeColor activeColor">Login</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="loginFormulario()">

                <!-- EMAIL -->
                <div class="form-group">
                    <label class="activeColor">Correo Electronico</label>
                    <input type="email" class="form-control" placeholder="Correo Electronico" formControlName="email" [ngClass]="{ 'is-invalid': loginCorrecto && control.email.errors }" />
                    <div *ngIf="loginCorrecto && control.email.errors" class="invalid-feedback">
                        <div>Debe Ingresar el correo electronico</div>
                        <div>El Correo ingresado no es valido</div>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="form-group">
                    <label class="activeColor">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="on" [ngClass]="{ 'is-invalid': loginCorrecto && control.password.errors }">
                    <div *ngIf="loginCorrecto && control.password.errors" class="invalid-feedback">
                        <div>Debe ingresar la contraseña</div>
                        <div>La contraseña debe tener al menos 3 caracteres</div>
                    </div>
                </div>

                <!-- Tipo de Usuario -->
                <div class="form-group col">
                    <label class="activeColor">Escoja Tipo de Usuario</label>
                    <select class="form-control text-info fw-bold" formControlName="tipo" [ngClass]="{ 'is-invalid': loginCorrecto && control.tipo.errors }">
                        <option value="Administrador">Administrador</option>
                        <option value="Establecimiento">Establecimiento</option>
                        <option value="Catedratico">Catedrático</option>
                        <option value="Estudiante">Estudiante</option>
                    </select>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary activeColor" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>