<app-nav-home></app-nav-home>
<app-nav-admin></app-nav-admin>
<app-nav-catedratico></app-nav-catedratico>
<app-nav-establecimiento></app-nav-establecimiento>
<app-nav-student></app-nav-student>

<div class="container p-4">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <h5>Proyecto Practicas Intermedias</h5>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->