<h4 class="text-center mb-4">Usuario del Establecimiento</h4>

<h5 class="text-center mt-2 mb-2 text-warning" *ngIf="solicitudesEstablecimiento.length === 0">No hay solicitudes nuevas
</h5>

<table class="table table-hover table-bordered border-light text-center" *ngIf="solicitudesEstablecimiento.length > 0">
    <thead>
        <tr class="table-info">
            <th scope="col">No.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Correo</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark" *ngFor="let s of solicitudesEstablecimiento; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{s.nombre}}</td>
            <td>{{s.tipo}}</td>
            <td>{{s.correo}}</td>
            <td>
                <button class="btn btn-success me-4" (click)="aceptarEstablecimiento(s.id_establecimiento)">Aceptar</button>
                <button class="btn btn-danger" (click)="rechazarEstablecimiento(s.id_establecimiento)">Rechazar</button>
            </td>
        </tr>
    </tbody>
</table>




<h4 class="text-center mb-4">Usuario Catedrático</h4>

<h5 class="text-center mt-2 mb-2 text-warning" *ngIf="solicitudesCatedratico.length === 0">No hay solicitudes nuevas
</h5>

<table class="table table-hover table-bordered border-light text-center" *ngIf="solicitudesCatedratico.length > 0">
    <thead>
        <tr class="table-info">
            <th scope="col">No.</th>
            <th scope="col">CUI</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark" *ngFor="let s of solicitudesCatedratico; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{s.cui}}</td>
            <td>{{s.nombre}} {{s.apellido}}</td>
            <td>{{s.correo}}</td>
            <td>
                <button class="btn btn-success me-4" (click)="aceptarCatedratico(s.cui)">Aceptar</button>
                <button class="btn btn-danger" (click)="rechazarCatedratico(s.cui)">Rechazar</button>
            </td>
        </tr>
    </tbody>
</table>




<h4 class="text-center mb-4">Usuario Estudiante</h4>

<h5 class="text-center mt-2 mb-2 text-warning" *ngIf="solicitudesEstudiante.length === 0">No hay solicitudes nuevas</h5>

<table class="table table-hover table-bordered border-light text-center mt-4" *ngIf="solicitudesEstudiante.length > 0">
    <thead>
        <tr class="table-info">
            <th scope="col">No.</th>
            <th scope="col">CUI</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark" *ngFor="let s of solicitudesEstudiante; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{s.cui}}</td>
            <td>{{s.nombre}} {{s.apellido}}</td>
            <td>{{s.correo}}</td>
            <td>
                <button class="btn btn-success me-4" (click)="aceptarEstudiante(s.cui)">Aceptar</button>
                <button class="btn btn-danger" (click)="rechazarEstudiante(s.cui)">Rechazar</button>
            </td>
        </tr>
    </tbody>
</table>