<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
    <div class="card-header">Perfil Establecimiento:</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h4 class="card-title">{{establecimiento.nombre}}</h4>
                <p class="card-text">
                    {{establecimiento.biografia}}
                </p>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">
                        Código de Establecimiento: {{establecimiento.id_establecimiento}}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Dirección: {{establecimiento.direccion}}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Tipo de Establecimiento: {{establecimiento.tipo}}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Correo: {{establecimiento.correo}}
                    </button>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img class="image" [src]="establecimiento.escudo" *ngIf="establecimiento.escudo !== null">
                <img class="image" src="https://www.allianceplast.com/wp-content/uploads/no-image.png" *ngIf="establecimiento.escudo === null">
            </div>
        </div>
    </div>
</div>

<h3 class="text-center mt-4 mb-4">Clases:</h3>

<h4 class="text-center text-warning" *ngIf="clases.length === 0">El Establecimiento NO tiene clases</h4>

<div class="row" *ngIf="clases.length >= 0">

    <div class="col-md-4" *ngFor="let c of clases">
        <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
            <div class="card-header">Clase:</div>
            <div class="card-body">
                <h4 class="card-title text-center">{{c.nombre}}</h4>
                <p class="card-text">Descripción: {{c.descripcion}}
                </p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">Sección: {{c.seccion}} </li>
                <!-- <li class="list-group-item">Catedrático: {{c.catedratico}} </li> -->
                <li class="list-group-item">Catedrático: {{c.id_catedratico}} </li>
                <!-- <li class="list-group-item">Cantidad de Estudiantes: {{c.estudiante}} </li> -->
            </ul>
        </div>
    </div>

</div>