<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="activo | async">
    <div class="container container-fluid">
        <a class="navbar-brand" routerLink="/estudiante/home" routerLinkActive="active">Proyecto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" routerLink="/estudiante/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" routerLink="/student/search" routerLinkActive="active">Stablishments</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="cerrarSesion()">
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>