<div class="mt-3">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">

        <!-- CUI -->
        <div class="form-group">
            <label class="activeColor">CUI</label>
            <input type="text" class="form-control" placeholder="CUI" formControlName="cui" [ngClass]="{ 'is-invalid': registroCorrecto && control.cui.errors }" />
            <div *ngIf="registroCorrecto && control.cui.errors" class="invalid-feedback">
                <div>Debe Ingresar el CUI</div>
                <div>Solo números</div>
            </div>
        </div>

        <!-- NOMBRE -->
        <div class="form-group">
            <label class="activeColor">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': registroCorrecto && control.nombre.errors }" />
            <div *ngIf="registroCorrecto && control.nombre.errors" class="invalid-feedback">
                <div>Debe Ingresar el nombre</div>
            </div>
        </div>

        <!-- APELLIDO -->
        <div class="form-group">
            <label class="activeColor">Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" [ngClass]="{ 'is-invalid': registroCorrecto && control.apellido.errors }" />
            <div *ngIf="registroCorrecto && control.apellido.errors" class="invalid-feedback">
                <div>Debe Ingresar el Apellido</div>
            </div>
        </div>


        <!-- EMAIL -->
        <div class="form-group">
            <label class="activeColor">Correo Electronico</label>
            <input type="email" class="form-control" placeholder="Correo Electronico" formControlName="email" [ngClass]="{ 'is-invalid': registroCorrecto && control.email.errors }" />
            <div *ngIf="registroCorrecto && control.email.errors" class="invalid-feedback">
                <div>Debe Ingresar el correo electronico</div>
                <div>El Correo ingresado no es valido</div>
            </div>
        </div>

        <!-- Contraseña -->
        <div class="form-group">
            <label class="activeColor">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="on" [ngClass]="{ 'is-invalid': registroCorrecto && control.password.errors }">
            <div *ngIf="registroCorrecto && control.password.errors" class="invalid-feedback">
                <div>Debe ingresar la contraseña</div>
                <div>La contraseña debe tener al menos 3 caracteres</div>
            </div>
        </div>


        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-success activeColor" type="submit">Registrar</button>
        </div>

    </form>
</div>