<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4>{{establishment.nombre}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Direccion: {{establishment.direccion}}</p>
                    <p class="card-text">Tipo: {{establishment.tipo}}</p>
                    <p class="card-text">Correo: {{establishment.correo}}</p>
                    <p class="card-text">Bibliografia: {{establishment.bibliografia}}</p>
                    <p class="card-text text-center">Img escudo</p>
                    <!--
                    <img [src]="'http://localhost:3050/photoU/'+user.foto" class="img-card-top w-100">
                    -->
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 text-center">
            <button type="button" (click)="ret()" class="btn btn-primary">Return</button>
        </div>
    </div>
</div>