<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="h2">Establecimientos</div>
        </div>
        <div class="col-4 mt-3 text-center">
            <form class="d-flex">
                <input type="text" class="form-control" id="filtro" name="filtro" placeholder="Type research" [(ngModel)]="filtro"/>
                <button type="button" (click)="search()" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="col-12 mt-3">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of establishments">
                        <th>{{e.id_establecimiento}}</th>
                        <td>{{e.nombre}}</td>
                        <td>{{e.tipo}}</td>
                        <td>{{e.correo}}</td>
                        <a class="nav-link" (click)="showEstablishment(e.id_establecimiento)">Show</a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>