<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="h2">Publicaciones</div>
        </div>
        <div class="col-8 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4>{{publication.titulo}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{publication.fecha}}</p>
                    <p class="card-text">{{publication.contenido}}</p>
                    <div class="div text-center">
                    </div>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let c of comments">
                    <li class="list-group-item">
                        <div *ngIf="c.from=='student'">
                            <p>From {{c.nombre}} {{c.fecha}}:</p>
                            <p>{{c.contenido}}</p>
                        </div>
                        <div *ngIf="c.from=='professor'">
                            <p class="fw-bold fst-italic">From {{c.nombre}} {{c.fecha}}:</p>
                            <p>{{c.contenido}}</p>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <form [formGroup]="commentForm" (ngSubmit)="comment()">
                        <div class="form-group">
                            <label for="coment">Comentario:</label>
                            <textarea type="text" class="form-control" placeholder="Type a comment ..." formControlName="comentario"  [ngClass]="{ 'is-invalid': commentCorrecto && control.comentario.errors }"></textarea>
                            <div *ngIf="commentCorrecto && control.comentario.errors" class="invalid-feedback">
                                <div>Ingresar un comentario mas largo</div>
                            </div>
                        </div>
                        <div class="mt-1 text-center">
                            <button type="button" (click)="comment()" class="btn btn-primary">Comentar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>