<div class="col-lg-6 mx-auto">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="text-center">
                <span style="font-size: 3em; color: rgb(96, 221, 243);">
                    <i class="fas fa-user-plus"></i>
                </span>
            </div>
            <h5 class="card-title text-center activeColor">Registro de Usuario</h5>
        </div>
        <div class="card-body">

            <!-- Escoger Usuario -->
            <form [formGroup]="tipoUserForm">
                <div class="form-group col">
                    <label class="activeColor">Escoja Tipo de Usuario</label>
                    <select class="form-control text-info fw-bold" formControlName="tipo" (change)="changeSuit($event)">
                        <option *ngFor="let t of tipoUsuario">{{t}}</option>
                    </select>
                </div>
            </form>

            <!-- Registro Administrador -->
            <div *ngIf="this.tipoUserForm.get('tipo')?.value === 'Administrador'">
                <app-reg-admin></app-reg-admin>
            </div>

            <!-- Registro Establecimiento -->
            <div *ngIf="this.tipoUserForm.get('tipo')?.value === 'Establecimiento'">
                <app-form-reg-establec></app-form-reg-establec>
            </div>

            <!-- Registro Catedratico -->
            <div *ngIf="this.tipoUserForm.get('tipo')?.value === 'Catedratico'">
                <app-form-reg-catedrat></app-form-reg-catedrat>
            </div>

            <!-- Registro Estudiante -->
            <div *ngIf="this.tipoUserForm.get('tipo')?.value === 'Estudiante'">
                <app-form-reg-student></app-form-reg-student>
            </div>

        </div>
    </div>
</div>