<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="h2">Publicaciones</div>
        </div>
        <div class="col-8 mt-3" *ngFor="let p of publications">
            <div class="card">
                <div class="card-header">
                    <h4>{{p.titulo}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{p.fecha}}</p>
                    <p class="card-text">{{p.contenido}}</p>
                    <div class="div text-center">
                        <button type="button" (click)="comments(p.id_publicacion)" class="btn btn-primary">Comentarios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>