<div class="col-lg-6 mx-auto">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="text-center">
                <span style="font-size: 3em; color: rgb(96, 221, 243);">
                    <i class="fas fa-user-plus"></i>
                </span>
            </div>
            <h5 class="card-title text-center activeColor">Carga Masiva de Usuarios</h5>
        </div>
        <div class="card-body">

            <!-- Escoger Usuario -->
            <form [formGroup]="formCarga" (ngSubmit)="cargaMasiva()">

                <div class="form-group col">
                    <label class="activeColor">Escoja Tipo de Usuario</label>
                    <select class="form-control text-info fw-bold" formControlName="tipo" (change)="changeSuit($event)">
                        <option *ngFor="let t of tipoUsuario">{{t}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="activeColor mt-2">Subir el archivo (.csv)</label>
                    <input class="form-control text-success fw-bold" type="file" accept=".csv" (change)="capturarFile($event)" [ngClass]="{ 'is-invalid': registroCorrecto && control.archivo.errors }">
                    <div *ngIf="registroCorrecto && control.archivo.errors" class="invalid-feedback">
                        <div>Suba el archivo (.csv)</div>
                    </div>
                </div>


                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-success activeColor" [disabled]="loading" type="submit">
                        {{(loading) ? 'Cargando...' : 'Subir Archivo'}}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>