<h1 class="text-info text-center mt-5" *ngIf="establecimientos.length === 0">¡¡¡No existen establecimientos!!!</h1>

<div class="row">

    <div class="col-md-4" *ngFor="let est of establecimientos">
        <div class="card text-white bg-primary mb-3">
            <h3 class="card-header text-center">{{est.nombre}}</h3>
            <img [src]="est.escudo" class="card-img-top" width="250" height="250" *ngIf="est.escudo !== null">
            <img src="https://www.allianceplast.com/wp-content/uploads/no-image.png" class="card-img-top" width="250" height="250" *ngIf="est.escudo === null">
            <div class="card-body">
                <p class="card-text">
                    • Código de establecimiento: {{est.id_establecimiento}}
                    <br> • Tipo: {{est.tipo}}
                </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark" type="button" [routerLink]="['/administrador/establecimiento/', est.id_establecimiento]">
                        <strong>
                            Ver Establecimiento
                        </strong>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>