<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="h2">Clases asignadas</div>
        </div>
        <div class="col-sm-12 col-md-4 mt-3" *ngFor="let c of classes">
            <div class="card">
                <div class="card-header">
                    <h4>{{c.nombre}} {{c.seccion}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{c.descripcion}}</p>
                    <div class="div text-center">
                        <button type="button" (click)="publications(c.id_clase)" class="btn btn-primary">Publicaciones</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>