<div class="mt-3">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">

        <!-- CODIGO -->
        <!-- <div class="form-group">
            <label class="activeColor">Código</label>
            <input type="text" class="form-control" placeholder="Código" formControlName="codigo" [ngClass]="{ 'is-invalid': registroCorrecto && control.codigo.errors }" />
            <div *ngIf="registroCorrecto && control.codigo.errors" class="invalid-feedback">
                <div>Debe Ingresar el código</div>
                <div>Solo números</div>
            </div>
        </div> -->

        <!-- NOMBRE -->
        <div class="form-group">
            <label class="activeColor">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': registroCorrecto && control.nombre.errors }" />
            <div *ngIf="registroCorrecto && control.nombre.errors" class="invalid-feedback">
                <div>Debe Ingresar el nombre</div>
            </div>
        </div>

        <!-- DIRECCION -->
        <div class="form-group">
            <label class="activeColor">Dirección</label>
            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion" [ngClass]="{ 'is-invalid': registroCorrecto && control.direccion.errors }" />
            <div *ngIf="registroCorrecto && control.direccion.errors" class="invalid-feedback">
                <div>Debe Ingresar la dirección</div>
            </div>
        </div>

        <!-- TIPO -->
        <div class="form-group">
            <label class="activeColor">Tipo</label>
            <input type="text" class="form-control" placeholder="Tipo" formControlName="tipo" [ngClass]="{ 'is-invalid': registroCorrecto && control.tipo.errors }" />
            <div *ngIf="registroCorrecto && control.tipo.errors" class="invalid-feedback">
                <div>Debe Ingresar el tipo</div>
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label class="activeColor">Correo Electronico</label>
            <input type="email" class="form-control" placeholder="Correo Electronico" formControlName="email" [ngClass]="{ 'is-invalid': registroCorrecto && control.email.errors }" />
            <div *ngIf="registroCorrecto && control.email.errors" class="invalid-feedback">
                <div>Debe Ingresar el correo electronico</div>
                <div>El Correo ingresado no es valido</div>
            </div>
        </div>

        <!-- Contraseña -->
        <div class="form-group">
            <label class="activeColor">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="on" [ngClass]="{ 'is-invalid': registroCorrecto && control.password.errors }">
            <div *ngIf="registroCorrecto && control.password.errors" class="invalid-feedback">
                <div>Debe ingresar la contraseña</div>
                <div>La contraseña debe tener al menos 3 caracteres</div>
            </div>
        </div>

        <!-- BIOGRAFIA -->
        <div class="form-group">
            <label class="activeColor">Biografía</label>
            <textarea class="form-control" placeholder="Biografía" formControlName="biografia" [ngClass]="{ 'is-invalid': registroCorrecto && control.biografia.errors }" rows="5"></textarea>
            <div *ngIf="registroCorrecto && control.biografia.errors" class="invalid-feedback">
                <div>Debe Ingresar el biografia</div>
            </div>
        </div>


        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-success activeColor" type="submit">Registrar</button>
        </div>

    </form>
</div>