<ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link fw-bolder active" data-bs-toggle="tab" href="#reporte1" (click)="getInfoReporte1()">Reporte
            1</a>
    </li>

    <li class="nav-item">
        <a class="nav-link fw-bolder " data-bs-toggle="tab" href="#reporte2" (click)="getInfoReporte2()">Reporte 2</a>
    </li>

    <li class="nav-item">
        <a class="nav-link fw-bolder" data-bs-toggle="tab" href="#reporte3" (click)="getInfoReporte3()">Reporte 3</a>
    </li>

    <li class="nav-item">
        <a class="nav-link fw-bolder" data-bs-toggle="tab" href="#reporte4" (click)="getInfoReporte4()">Reporte 4</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content mt-4">

    <div class="tab-pane fade active show" id="reporte1">
        <h3 class="text-center mb-4">Top Establecimientos con más clases registradas</h3>
        <div class="grafica">
            <h4 class="text-center text-warning" *ngIf="!flagReporte1">
                No hay información del Reporte 1
            </h4>
            <canvas id="chartReporte1" width="200" height="200">{{chartReporte1}}</canvas>
        </div>
    </div>

    <div class="tab-pane fade active show" id="reporte2">
        <h3 class="text-center mb-4">Top Establecimientos con más alumnos registrados</h3>
        <div class="grafica">
            <h4 class="text-center text-warning" *ngIf="!flagReporte2">
                No hay información del Reporte 2
            </h4>
            <canvas id="chartReporte2" width="200" height="200">{{chartReporte2}}</canvas>
        </div>

    </div>

    <div class="tab-pane fade active show" id="reporte3">
        <h3 class="text-center mb-4">Top Catedráticos con más clases registradas</h3>
        <div class="grafica">
            <h4 class="text-center text-warning" *ngIf="!flagReporte3">
                No hay información del Reporte 3
            </h4>
            <canvas id="chartReporte3" width="200" height="200">{{chartReporte3}}</canvas>
        </div>
    </div>

    <div class="tab-pane fade active show" id="reporte4">
        <h3 class="text-center mb-4">Top Catedráticos con más alumnos en sus clases</h3>
        <div class="grafica">
            <h4 class="text-center text-warning" *ngIf="!flagReporte4">
                No hay información del Reporte 4
            </h4>
            <canvas id="chartReporte4" width="200" height="200">{{chartReporte4}}</canvas>
        </div>
    </div>

</div>